@model MovieResponseModel

<div class="card">
    <img class="card-img-top" src="@Model.PosterUrl" alt="@Model.Title">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
    </div>
</div>